@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.main-content-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: $lightTheme;

  .Patchy-logo {
    height: 200px;
    width: auto;
    background-color: $darkTheme;
  }
  // filter links to show completed, active and all todos
  .todo-category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: auto 10px;
    .mainContent-h1 {
      font-size: 2rem;
      color: $darkTheme;
      padding-right: 10px;
    }
    //media breakpoint
    @include respond-to("tablet") {
      flex-direction: row;
    }
  }
}
