@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.main-content-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: $lightTheme;
}
.Patchy-logo {
  height: 400px;
  width: auto;
  background-color: $darkTheme;
}
// filter links to show completed, active and all todos
.todo-category-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px;
  margin: auto 10px;
  h1 {
    color: $darkTheme;
  }
  .filter-link {
    margin: 30px;
  }
}
