@import "../styles/variables.scss";

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: $darkTheme;
  .patchy-nav {
    width: 70px;
    height: auto;
  }
  .nav-title {
    color: $lightTheme;
    font-size: large;
    font-weight: 900;
  }
}
