@import "./variables.scss";

//////////////////////Media Breakpoints START
$breakpoints: (
  "mobile": 450px,
  "tablet": 800px,
  "desktop": 1000px,
  "large": 1200px,
) !default;
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "no value could be retrieved from `#{$breakpoint}`. "+"Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
//////////////////////// Button Styling
/// signup/login forms "submit" button as example. with hover and active styles.
@mixin appButton {
  font-family: inherit;
  font-size: 1rem;
  color: $lightTheme;
  background-color: $darkTheme;
  border: 1px solid $lightTheme;
  border-radius: 20px;
  padding: 10px 30px;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background-color: $lightTheme;
    color: $darkTheme;
    border: 1px solid $darkTheme;
    transition: 0.5;
    opacity: 0.9;
  }
  &:active {
    background-color: $lightGray;
    color: $darkTheme;
    border: 1px solid $lightGray;
  }
}

///////////////////////////// Nav/Footer styling.
@mixin bookendBody {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 10px;
}

/// FORM STYLE MIXINS ////////////////////////////////////////////////////////////////////////
//// WEBKIT STYLING stops basic default browswer styles in your inputs aka "formik-fields" WebKit */
@mixin inputWebKit {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: $lightTheme;
    // -webkit-box-shadow  : 0 0 0px 1000px $carpalGreen inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}
