@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.nav-container {
  @include bookendBody;
  background-color: $darkTheme;
  .patchy-nav {
    width: 70px;
    height: auto;
  }
  .nav-title {
    color: $lightTheme;
    font-size: large;
    font-weight: 900;
  }
}
