@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $lightTheme;
  height: auto;
  width: 100%;
  margin: 10px;
  .todo {
    color: $darkTheme;
    width: 75%;
    height: auto;
    padding: 20px 30px;
    cursor: pointer;
    .deleteTodo-btn {
      @include appButton;
      border: 1px solid $darkTheme;
      font-size: 0.7rem;
      padding: 5px 7px;
      margin: 10px;
    }
  }
}
